<%{ '../master.html' }%>
    <%{ style %>
        <style>
        </style>
        <%} %>
            <%{ content %>
                <div class="row align-items-top mt-4">
                    <div class="col-6 mx-auto">
                        <div class="border rounded-3 border-dark pb-3 px-3">
                            <div class="row my-2 border-bottom border-dark align-items-end">
                                <div class="col">
                                    <div class="d-flex justify-content-center">
                                        <img src="<%= host %>/icon.png" height="70">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h3 class="text-center">
                                        Find group
                                    </h3>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-center">
                                        <img src="<%= host %>/icon.png" height="70">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5 pb-4 align-items-center justify-content-center">
                                <div class="col-8">
                                    <div class="container-fluid p-2">
                                        <div class="row">
                                            <form action="/search/groups" method="post" class="input-group">
                                                <input type="text" id="word" name="word" class="form-control"
                                                    placeholder="Group name..." aria-label="Recipient's username"
                                                    aria-describedby="button-addon2">
                                                <button class="btn btn-outline-dark" type="submit" id="button-addon2">
                                                    Search
                                                </button>
                                            </form>
                                            <% if (data.errors && data.errors.word) { %>
                                                <small id="word-errors" class="text-danger">
                                                    <%= data.errors.word[0] %>
                                                </small>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                                or...
                                <div class="col">
                                    <a class="btn btn-outline-dark" href="/groups/1"> View my groups</a>
                                </div>
                            </div>
                            <div class="row my-2 border-bottom border-dark align-items-end ">
                                <div class="col">
                                    <div class="d-flex justify-content-center">
                                        <img src="<%= host %>/icon.png" height="70">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h3 class="text-center">
                                        New group
                                    </h3>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-center">
                                        <img src="<%= host %>/icon.png" height="70">
                                    </div>
                                </div>
                            </div>
                            <form action="/group" method="post">
                                <div class="row">
                                    <div class="mb-3 col-8">
                                        <label class="form-label">Name</label>
                                        <input type="text" name="name" id="name" class="form-control border-dark">
                                        <% if (data.errors && data.errors.name) { %>
                                            <small id="name-errors" class="text-danger"><%= data.errors.name[0] %></small>
                                            <% } %>
                                    </div>
                                    <div class="mb-3 col">
                                        <label class="form-label">Categories</label>
                                        <div class="dropdown">
                                            <input id="categories" type="hidden" name="categories" value="">
                                            <input type="hidden" name="user_id" value="<%= user.id %>">
                                            <input id="input-search" class="dropdown-toggle form-control border-dark"
                                                type="text" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" placeholder="Search..." />
                                            <ul id="categories-result" class="dropdown-menu p-0"
                                                aria-labelledby="input-search">
                                            </ul>
                                        </div>
                                        <small id="name-errors" class="text-danger"></small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col">
                                        <label class="form-label">Categories</label>
                                        <div>
                                            <div class="row">
                                                <div class="col" id="categories-selected"></div>
                                                <% if (data.errors && data.errors.category_id) { %>
                                                    <small id="category_id-errors" class="text-danger"><%= data.errors.category_id[0] %></small>
                                                    <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="d-flex justify-content-between">
                                            <button type="button" id="btn-cancel" class="btn btn-outline-dark">
                                                Cancel
                                            </button>
                                            <button type="submit" id="btn-submit" class="btn btn-dark col-3">
                                                Create
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <%} %>
                        <%{ script %>
                            <script>
                                localStorage.setItem('groups-selected', []);

                                addCategory(0, '');

                                $('#input-search').on('input', function () {
                                    $('#input-search').addClass('show');
                                    $('#input-search').dropdown();
                                    $('#categories-result').addClass('show');
                                    let word = $(this).val();
                                    if (!word) clearInput();
                                    else setCategories('categories-result', word);
                                });

                                function setCategories(id, word) {
                                    let categoriesSelected = JSON.parse(localStorage.getItem('categories-selected'));
                                    callGet('/search/categories/' + word, (status, data) => {
                                        if (status == 200) {
                                            let categories = data.body.categories;
                                            $('#' + id).text('');
                                            if (categories.length == 0) {
                                                $('#' + id).append(`
                                            <li><button class="dropdown-item">No results</button></li>
                                        `);
                                            }
                                            categories.forEach(element => {
                                                let selected = false;
                                                categoriesSelected.forEach(selectedElement => {
                                                    if (!selected) selected = element.id == selectedElement.id;
                                                });
                                                if (!selected)
                                                    $('#' + id).append(`
                                                    <li class="justify-content-center">
                                                        <a href="#" onclick="addCategory(${element.id},'${element.name}')" class="dropdown-item badge bg-light text-dark border border-dark" id="${element.id}">
                                                            ${element.name}
                                                        </a>
                                                    </li>
                                                `);
                                            });
                                            $('#' + id).addClass('myShow show');
                                        }
                                    }, false);
                                }

                                function addCategory(id, name) {
                                    clearInput();
                                    let categoriesSelected = JSON.parse(localStorage.getItem('categories-selected'));
                                    if (id == 0) {
                                        $('#categories-selected').append(`
                                        <div class="col">No categories selected</div>
                                    `);
                                        categoriesSelected = [];
                                    }
                                    else {
                                        $('#categories-selected').text('');
                                        categoriesSelected.push({ id: id, name: name });
                                        let val = $('#categories').val();
                                        val += id + "-";
                                        $('#categories').val(val);
                                    }
                                    localStorage.setItem('categories-selected', JSON.stringify(categoriesSelected));
                                    refreshCategoryList();
                                    $('#categories-result').removeClass('myShow show');
                                }

                                function clearInput() {
                                    $('#input-search').val("");
                                    $('#input-search').text("");
                                    $('#input-search').append(`
                                    <li><button class="dropdown-item">No results</button></li>
                                `);
                                }

                                function refreshCategoryList() {
                                    let categoriesSelected = JSON.parse(localStorage.getItem('categories-selected'));
                                    categoriesSelected.forEach(element => {
                                        $('#categories-selected').append(`
                                        <span class="badge bg-light text-dark border border-dark" id="${element.id}">${element.name}</span>
                                    `);
                                    });
                                }
                            </script>
                            <%} %>