<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="<%= host %>/favicon.ico" />

    <style>
        html {
            height: 100%;
        }

        a:link {
            text-decoration: none;
        }

        .show {
            padding-right: 17px;
            display: block;
        }

        #spinner {
            background-color: rgba(0, 0, 0, 0.2);
        }
    </style>
    <%{{ style }}%>

        <title>Consultation forum</title>
</head>

<body class="h-100 bg-light">
    <div id="spinner" class="modal fade container-fluid h-100 position-fixed">
        <div class="row align-items-center h-100">
            <div class="col text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>
    <nav id="navbar" class="py-0 collapse navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand py-0" href="/">
                <img src="<%= host %>/icon.png" height="80">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="my-publications-a" class="nav-link active" aria-current="page"
                            href="/publications/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/publication">Create publication</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/group">Groups</a>
                    </li>
                    <li class="ms-3 nav-item">
                        <div class="dropdown">
                        <input id="search-users-input" class="form-control me-2" type="text"
                            placeholder="Search users...">
                        <ul id="users-result" class="dropdown-menu p-0 mx-auto"
                            aria-labelledby="group-input-search">
                        </ul>
                    </div>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a onclick="logout()" class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="fade show container-fluid h-100 position-fixed">
        <div id="master-back" class="row position-fixed collapse show m-2">
            <button onclick="window.history.back();" class="btn btn-dark">
                Go back
            </button>
        </div>
        <%{{ content }}%>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script>
        let waiting;

        function callPost(route, dataToSend, handleResponse, block = true) {
            if (block) showSpinner();
            let status;
            let headersToSend = { 'Content-Type': 'application/json' };
            let access_token = getFromLocalStorage('access_token');
            if (access_token) headersToSend = {
                'Content-Type': 'application/json',
                'Authorization': access_token
            };
            //console.log("sending with headers: ");
            //console.log(headersToSend);
            fetch(route, {
                method: 'POST',
                headers: headersToSend,
                body: JSON.stringify({ data: dataToSend })
            }).then(response => {
                status = response.status;
                return response.json();
            }).then(data => {
                hideSpinner(); waiting = false;
                if (status == 401) logout();
                if (status == 404) {
                    alert(data.message);
                    window.location.href = "/publications/" + getFromLocalStorage('user').id;
                }
                else handleResponse(status, data);
            }).catch((error) => {
                hideSpinner();
                alert(error.message);
                console.error('Error:', error);
            });
        }

        function callGet(route, handleResponse, block = true) {
            if (block) showSpinner();
            let status;
            let headersToSend = { 'Content-Type': 'application/json' };
            let access_token = getFromLocalStorage('access_token');
            if (access_token) headersToSend = {
                'Content-Type': 'application/json',
                'Authorization': access_token
            };
            //console.log("sending with headers: ");
            //console.log(headersToSend);
            fetch(route, {
                method: 'GET',
                headers: headersToSend
            }).then(response => {
                status = response.status;
                return response.json();
            }).then(data => {
                hideSpinner();
                //console.log(data);
                waiting = false;
                if (status == 401) logout();
                if (status == 404) {
                    alert(data.message);
                    window.location.href = "/publications/" + getFromLocalStorage('user').id;
                }
                else handleResponse(status, data);
            }).catch((error) => {
                hideSpinner();
                alert(error.message);
                //console.log(error);
            });
        }

        function saveInLocalStorage(key, data) {
            if (data)
                localStorage.setItem(key, JSON.stringify(data));
        }

        function getFromLocalStorage(key) {
            let data = localStorage.getItem(key);
            return data ? JSON.parse(data) : null;
        }

        function removeFromLocalStorage(key) {
            localStorage.removeItem(key);
        }

        function showSpinner() {
            $('#spinner').addClass('show');
        }

        function hideSpinner() {
            $('#spinner').removeClass('show');
        }

        function logout() {
            removeFromLocalStorage('access_token');
            removeFromLocalStorage('user');
            removeFromLocalStorage('back');
            window.location.href = '/login'
        }

        function handleVerifications(data) {
            //console.log(data);
            Object.keys(data.body).map(function (key, index) {
                let errors = data.body[key];
                errors.forEach(element => {
                    $(`#${key}-errors`).text("");
                });
                errors.forEach(element => {
                    $(`#${key}-errors`).append(element);
                    $(`#${key}-errors`).append('<br>');
                });
            });
        }

        if (getFromLocalStorage('access_token')) {
            $('#my-publications-a').attr('href', `/publications/${getFromLocalStorage('user').id}`);
            callGet('/me', (status, data) => {
                if (status == 200) {
                    let user = getFromLocalStorage('user');
                    if (['/login', '/register'].indexOf(window.location.pathname) >= 0) {
                        window.location.href = '/publications/' + user.id;
                    }
                    if (['/publications/' + user.id].indexOf(window.location.pathname) >= 0) {
                        $('#master-back').removeClass('show');
                    } else {
                        $('#master-back').addClass('show');
                    }
                } else {
                    logout();
                }
                $('#navbar').addClass('show');
            });
        } else {
            if (['/login', '/register'].indexOf(window.location.pathname) < 0) {
                window.location.href = '/login';
            }
            $('#navbar').removeClass('show');
            $('#master-back').removeClass('show');
        }

        $('#btn-cancel').on('click', () => {
            window.history.back();
        });

        $("input").keydown(function () {
            let id = $(this).attr('id');
            $(`#${id}-errors`).text("");
        });

        $("textarea").keydown(function () {
            let id = $(this).attr('id');
            $(`#${id}-errors`).text("");
        });

        $("select").change(function () {
            let id = $(this).attr('id');
            $(`#${id}-errors`).text("");
        });

        $('#search-users-input').on('input', function () {
            $('#search-users-input').dropdown();
            $('#search-users-input').addClass('show');
            $('#users-result').addClass('show');
            let word = $(this).val();
            if (!word) clearInput();
            else setUsers('users-result', word);
        });

        $(document).click(function (e) {
            if (!$('#users-result').is(e.target) && $('#users-result').has(e.target).length === 0) {// if div is not target nor its descendant
                $('#users-result').removeClass('show');
            }
        });

        function setUsers(id, word) {
            callGet('/search/users/' + word, (status, data) => {
                if (status == 200) {
                    let users = data.body.users;
                    $('#' + id).text('');
                    if (users.length == 0) {
                        $('#' + id).append(`
                            <li><button class="dropdown-item">No results</button></li>
                        `);
                    }
                    users.forEach(element => {
                        $('#' + id).append(`
                            <li class="justify-content-center">
                                <button onclick="window.location.href='/publications/${element.id}'" class="dropdown-item badge bg-light text-dark border border-dark" id="${element.id}">
                                    ${element.name + " " + element.lastname}
                                </button>
                            </li>
                        `);
                    });
                    $('#' + id).addClass('show');
                }
            }, false);
        }

    </script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->

    <%{{ script }}%>
</body>

</html>