<%{ '../master.html' }%>
    <%{ style %>
        <style>
            a:hover {
                text-decoration: underline;
            }
        </style>
        <%} %>
            <%{ content %>
                <div class="row align-items-center h-100">
                    <div class="col-4 mx-auto">
                        <div class="border rounded-3 border-dark px-3">
                            <div class="row my-2 border-bottom border-dark align-items-end">
                                <div class="col">
                                    <div class="d-flex justify-content-center">
                                        <img src="<%= host %>/icon.png" height="70">
                                    </div>
                                </div>
                                <div class="col">
                                    <h3 class="text-center">
                                        Welcome
                                    </h3>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-center">
                                        <img src="<%= host %>/icon.png" height="70">
                                    </div>
                                </div>
                            </div>
                            <form action="/login" method="post">
                                <div class="mb-3 mt-4">
                                    <label class="form-label">Email address</label>
                                    <input type="email" id="email" class="form-control border-dark"
                                        aria-describedby="emailHelp" name="email">
                                        <% if (data.errors && data.errors.email) { %>
                                    <small id="email-errors" class="text-danger"><%= data.errors.email[0] %></small>
                                    <% } %>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Password</label>
                                    <input type="password" id="password" class="form-control border-dark"
                                        name="password" />
                                        <% if (data.errors && data.errors.password) { %>
                                            <small id="email-errors" class="text-danger"><%= data.errors.password[0] %></small>
                                            <% } %>
                                </div>
                                <div class="mb-3">
                                    <div class="row px-2 mt-4">
                                        <button type="submit" id="btn-submit" class="btn btn-dark">Submit</button>
                                    </div>
                                </div>
                            </form>
                            <div class="mb-3 text-center">
                                <a href="/register">Create an account</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% if (data.message) { %>
                    <script>
                        alert("<%= data.message %>");
                    </script>
                    <% } %>
                <%} %>