<%{ '../master.html' }%>
    <%{ content %>
        <div class="row align-items-center h-100">
            <div class="col-6 mx-auto">
                <div class="border rounded-3 border-dark pb-3 px-3">
                    <div class="row my-2 border-bottom border-dark align-items-end">
                        <div class="col">
                            <div class="d-flex justify-content-center">
                                <img src="<%= host %>/icon.png" height="70">
                            </div>
                        </div>
                        <div class="col">
                            <h3 class="text-center">
                                New user
                            </h3>
                        </div>
                        <div class="col">
                            <div class="d-flex justify-content-center">
                                <img src="<%= host %>/icon.png" height="70">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col">
                            <label class="form-label">Name(s)</label>
                            <input type="text" id="name" class="form-control border-dark" aria-describedby="emailHelp">
                            <small id="name-errors" class="text-danger"></small>
                        </div>
                        <div class="mb-3 col">
                            <label class="form-label">Lastname(s)</label>
                            <input type="text" id="lastname" class="form-control border-dark"
                                aria-describedby="emailHelp">
                            <small id="lastname-errors" class="text-danger"></small>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="mb-3 col-9">
                            <label class="form-label">Email address</label>
                            <input type="email" id="email" class="form-control border-dark"
                                aria-describedby="emailHelp">
                            <small id="email-errors" class="text-danger"></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col">
                            <label class="form-label">Password</label>
                            <input type="password" id="password" class="form-control border-dark">
                            <small id="password-errors" class="text-danger"></small>
                        </div>
                        <div class="mb-3 col">
                            <label class="form-label">Confirm password</label>
                            <input type="password" id="password_confirmation" class="form-control border-dark">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <div class="d-flex justify-content-between">
                                <button type="button" id="btn-cancel" class="btn btn-outline-dark">
                                    Cancel
                                </button>
                                <button type="button" id="btn-submit" class="btn btn-dark col-3">
                                    Register
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%} %>
            <%{ script %>
                <script>
                    $('#btn-submit').on('click', () => {
                        callPost('/register', {
                            name: $('#name').val(),
                            lastname: $('#lastname').val(),
                            email: $('#email').val(),
                            password: $('#password').val(),
                            password_confirmation: $('#password_confirmation').val()
                        }, (status, data) => {
                            //console.log(data);
                            switch (status) {
                                case 400:
                                    handleVerifications(data);
                                    break;
                                case 201:
                                    alert("Registration complete, please log in.");
                                    removeFromLocalStorage('back');
                                    window.location.href = "/login";
                                    break;
                                default:
                                    alert(data.message);
                                    break;
                            }
                        }
                        );
                    });

                </script>
                <%} %>