<%{ '../master.html' }%>
    <%{ style %>
        <style>
            
        </style>
        <%} %>
            <%{ content %>
                <div class="row align-items-top h-100 mt-4 overflow-auto">
                    <div class="col-6 mx-auto">
                        <div class="border rounded-3 border-dark pb-3 px-3 overflow-auto">
                            <div class="row my-2 border-bottom border-dark align-items-end">
                                <div class="col">
                                    <div class="d-flex justify-content-center">
                                        <img src="<%= host %>/icon.png" height="70">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h3 class="text-center">
                                        New publication
                                    </h3>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-center">
                                        <img src="<%= host %>/icon.png" height="70">
                                    </div>
                                </div>
                            </div>
                            <form action="/publication" method="post">
                            <div class="row">
                                <div class="mb-3 col-8">
                                    <label class="form-label">Title</label>
                                    <input type="text" name="title" id="title" class="form-control border-dark">
                                    <% if (data.errors && data.errors.title) { %>
                                        <small id="email-errors" class="text-danger"><%= data.errors.title[0] %></small>
                                        <% } %>
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label">Category</label>
                                    <input id="categories" type="hidden" name="category_id" value="">
                                    <input type="hidden" name="user_id" value="<%= user.id %>">
                                    <div class="dropdown">
                                        <input type="hidden" name="redirect" value="register">
                                        <input id="input-search-publication" class="dropdown-toggle form-control border-dark"
                                            type="text" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" placeholder="Search..." />
                                        <ul id="categories-result-publication" class="dropdown-menu p-0"
                                            aria-labelledby="input-search-publication">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">
                                    <label class="form-label">Category</label>
                                    <div>
                                        <div class="row">
                                            <div class="col" id="categories-selected">
                                            </div>
                                            <% if (data.errors && data.errors.category_id) { %>
                                                <small id="email-errors" class="text-danger"><%= data.errors.category_id[0] %></small>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">
                                    <label class="form-label">Content</label>
                                    <textarea id="content" name="content" rows="4" class="form-control border-dark"></textarea>
                                    <% if (data.errors && data.errors.content) { %>
                                        <small id="email-errors" class="text-danger"><%= data.errors.content[0] %></small>
                                        <% } %>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <div class="d-flex justify-content-between">
                                        <button type="button" id="btn-cancel" class="btn btn-outline-dark">
                                            Cancel
                                        </button>
                                        <button type="submit" id="btn-submit" class="btn btn-dark col-3">
                                            Create
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                <%} %>
                    <%{ script %>
                        <script>
                            localStorage.setItem('categories-selected', "[]");

                            addCategory(0, '');

                            $('#input-search-publication').on('input', function () {
                                $('#input-search-publication').addClass('show');
                                $('#input-search-publication').dropdown();
                                $('#categories-result-publication').addClass('show');
                                let word = $(this).val();
                                if (!word) clearInput();
                                else setCategories('categories-result-publication', word);
                            });

                            function setCategories(id, word) {
                                let categoriesSelected = JSON.parse(localStorage.getItem('categories-selected'));
                                callGet('/search/categories/' + word, (status, data) => {
                                    if (status == 200) {
                                        let categories = data.body.categories;
                                        $('#' + id).text('');
                                        if (categories.length == 0) {
                                            $('#' + id).append(`
                                    <li><button class="dropdown-item">No results</button></li>
                                `);
                                        }
                                        categories.forEach(element => {
                                            let selected = false;
                                            categoriesSelected.forEach(selectedElement => {
                                                if (!selected) selected = element.id == selectedElement.id;
                                            });
                                            if (!selected)
                                                $('#' + id).append(`
                                            <li class="justify-content-center">
                                                <a href="#" onclick="addCategory(${element.id},'${element.name}')" class="dropdown-item badge bg-light text-dark border border-dark" id="${element.id}">
                                                    ${element.name}
                                                </a>
                                            </li>
                                        `);
                                        });
                                        $('#' + id).addClass('myShow show');
                                    }
                                }, false);
                            }

                            function addCategory(id, name) {
                                clearInput();
                                let categoriesSelected = JSON.parse(localStorage.getItem('categories-selected'));
                                categoriesSelected = [];
                                if (id == 0) {
                                    $('#categories-selected').append(`
                                <div class="col">No categories selected</div>
                            `);
                                }
                                else {
                                    $('#categories-selected').text('');
                                    categoriesSelected.push({ id: id, name: name });
                                    let val = $('#categories').val();
                                    val = id;
                                    $('#categories').val(val);
                                }
                                localStorage.setItem('categories-selected', JSON.stringify(categoriesSelected));
                                refreshCategoryList();
                                $('#categories-result-publication').removeClass('myShow show');
                            }

                            function clearInput() {
                                $('#input-search-publication').val("");
                                $('#input-search-publication').text("");
                                $('#input-search-publication').append(`
                            <li><button class="dropdown-item">No results</button></li>
                        `);
                            }

                            function refreshCategoryList() {
                                let categoriesSelected = JSON.parse(localStorage.getItem('categories-selected'));
                                categoriesSelected.forEach(element => {
                                    $('#categories-selected').append(`
                                <span class="badge bg-light text-dark border border-dark" id="${element.id}">${element.name}</span>
                            `);
                                });
                            }
                        </script>
                        <%} %>