<%{ '../master.ejs' }%>
    <%{ content %>
        <div class="row align-items-top h-100 mt-4 overflow-auto">
            <div class="col-6 mx-auto">
                <div class="border rounded-3 border-dark pb-3 px-3 overflow-auto">
                    <div class="row my-2 border-bottom border-dark align-items-end">
                        <div class="col">
                            <div class="d-flex justify-content-center">
                                <img src="http://localhost:3000/icon.png" height="70">
                            </div>
                        </div>
                        <div class="col-6">
                            <h3 class="text-center">
                                New publication
                            </h3>
                        </div>
                        <div class="col">
                            <div class="d-flex justify-content-center">
                                <img src="http://localhost:3000/icon.png" height="70">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-8">
                            <label class="form-label">Title</label>
                            <input type="text" id="title" class="form-control border-dark">
                            <small id="title-errors" class="text-danger"></small>
                        </div>
                        <div class="mb-3 col">
                            <label class="form-label">Category</label>
                            <select id="category_id" class="form-select border border-dark">
                                <option disabled selected> Seleccionar </option>
                            </select>
                            <small id="category_id-errors" class="text-danger"></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col">
                            <label class="form-label">Content</label>
                            <textarea id="content" rows="4" class="form-control border-dark"></textarea>
                            <small id="content-errors" class="text-danger"></small>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <div class="d-flex justify-content-between">
                                <button type="button" id="btn-cancel" class="btn btn-outline-dark">
                                    Cancel
                                </button>
                                <button type="button" id="btn-submit" class="btn btn-dark col-3">
                                    Create
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%} %>
            <%{ script %>
                <script>
                    setCategories('category_id');

                    $('#btn-submit').on('click', () => {
                        let title = $('#title').val();
                        let content = $('#content').val();
                        let categoryId = $('#category_id').val();
                        let userId = getFromLocalStorage('user').id;
                        callPost('/publication', {
                            title: title,
                            content: content,
                            user_id: userId,
                            category_id: categoryId
                        }, (status, data) => {
                            switch (status) {
                                case 201:
                                    alert(data.message);
                                    window.location.href = '/publication/' + data.body.id;
                                    break;
                                case 400:
                                    handleVerifications(data);
                                    break;
                                default:
                                    alert(data.message);
                                    break;
                            }
                        });
                    });
                </script>
                <%} %>